@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Visual Studio</title>
</head>
<body>
    <h1>HTML Submission Assignment</h1>
    <h3>Inlcude following:</h3>
    <ol>
        <li>embed music video from Youtube of one of your favorite songs</li>
        <li>Customize some element of the page with CSS (such as font or background color)</li>
        <li>Using JavaScript, create some form of animation on the webpage</li>
    </ol>
    <br />
    <br />
    <div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lXjOAX2q00Y"
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
    <br />

    <p><button onclick="myMove()">Click Me</button></p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>



</body>
</html>