html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
    min-height: 100%;
}

body {
    max-width: 500px;
    margin: 0 auto;
}

.content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

    input: :focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

div { text-align: center; }
ul { display: inline-block; text-align: center; }

footer {
    height: 50px;
    border-top: double;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 60px;
}