/*======================================
    IMAGES SECTION AND EDITS
========================================*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    border-radius: 10%;
}

/*======================================
    FOOTER
========================================*/
footer {
    text-align: center;
    padding: 3px;
}

/*======================================
    FONTS
========================================*/
p.thick {
    font-weight: bold;
}
  

/*=====================================
    TABLE
=======================================*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
}
  
td, th {
    border: 2px solid #130808;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    background-color: #36454F;
    color: whitesmoke;
}

div h2 {
  margin-left: 1em;
}

/*=================================
    CONTAINER
===================================*/
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*======================================
    NAVIGATION BAR
========================================*/
/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: relative; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
}
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/*=============================================
    EQUAL COLUMNS WITH COLORS
===============================================*/
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h3 {
    color: #191970;
  }

p {
    color: whitesmoke;
}

/*======================================
    CHANGES AN ELEMNT'S COLOR ON HOVER
========================================*/
p:hover {
    background-color: rgb(66, 66, 61);
  }

/*==========================================
  IMAGE OVERLAY
============================================*/
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*======================================
    VIDEO AUTOPLAY LOOP MUTES
========================================*/
